[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: veracrypt
name: veracrypt
description: VeraCrypt 1.16 (TrueCrypt)
advice: TrueCrypt
version: 7.1a
priority: 0
licenseRequired: False
productClasses: 
setupScript: install.ins
uninstallScript: uninstall.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]





















